# Auto-detect
* text=auto

# Source code
*.html  text
*.js    text
*.json  text
*.less  text

# Documentation
*.md     text
LICENSE  text

# Configs
*.handlebars       text
.editorconfig      text
.gitattributes     text
.gitignore         text
package-lock.json  text -diff

# Graphics
*.ico   binary
*.png   binary
*.svg   text

# Fonts
*.woff   binary
*.woff2  binary
