header.main-header
  nav.main-header__navigation
    a.main-header__logo(aria-label="Logo BerYoga") BerYoga
    .navigation__wrapper
      ul.navigation__list-site
        li.navigation__item-site
          a.navigation__link-site(href="#") Home
        li.navigation__item-site
          a.navigation__link-site(href="#") About Us
        li.navigation__item-site
          a.navigation__link-site(href="#") Contact
        li.navigation__item-site
          a.navigation__link-site(href="#") Pricing
      ul.navigation__list-user
        li.navigation__item-user
          a.navigation__link-user.js-navigation__link-user.button(href="#") Login
    button.navigation__button.menu(type="button" aria-label="Menu" aria-controls="navigation" tabindex="1") Menu
      span.menu__box
        span.menu__inner
