.prices {
  .container;
  max-width: 1440px;
  margin-bottom: 16.7rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    flex: 0 0 33.33%;
    min-height: 700px;
    border-radius: 20px;
    background-color: @color-light;
    box-shadow: 0 0 100px 0 @color-shadow;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 700;
    font-size: 30px;

    &--white {
      color: @color-light;
      text-transform: uppercase;
      background-color: @color-accent;
    }
  }

  &__advantages {
    margin-bottom: 70px;
    padding: 70px 60px 0;
  }

  &__count {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 150px;
    line-height: 1;
    color: @color-heading;
    text-align: center;
  }

  &__pros {
     margin-bottom: 30px;
     padding-left: 60px;
     font-weight: 400;
     color: @color-heading;
     background: url("./../images/check--blue.png") left center no-repeat;

     &:last-child {
       margin-bottom: 0;
     }
   }

  &__dollar {
    align-self: flex-start;
    font-size: 48px;
  }

  &__time {
    align-self: flex-end;
    font-size: 30px;
  }

  &__text {
    margin-bottom: 60px;
    font-style: italic;
    font-weight: 400;
    color: @color-heading;
    text-align: center;
  }
}

.prices__link--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.prices__link,
.prices__link--center {
  box-sizing: border-box;
  max-width: 225px;
  margin-bottom: 55px;
  padding: 20px 30px;

  font-weight: 500;
  line-height: 29px;
  color: #fbfcfc;
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none;

  background-image: linear-gradient(65deg, rgb(95, 206, 245) 0%, rgb(131, 228, 252) 100%);
  border-radius: 40px;
  box-shadow: 0 20px 20px 0.5px rgba(95, 206, 244, 0.3);

  transition: all 0.3s ease;
}

.prices__link:hover,
.prices__link:focus {
  background-color: #ff6a6d;
  background-image: none;
  box-shadow: 0 20px 20px 0.5px rgba(226, 88, 91, 0.3);
}

.prices__link--center {
  background-color: #ff6a6d;
  background-image: none;
  box-shadow: 0 20px 20px 0.5px rgba(226, 88, 91, 0.3);
}
