section.achievements
  .achievements__wrapper
    h2.achievements__heading What’s on BerYoga?
    ul.achievements__list
      li.achievements__item
        h3.achievements__subheading New Classes Every Week
        p.achievements__text Discover hundreds of classes in our library. Save your favorites, try new styles and customize your routine to fit your schedule.
      li.achievements__item
        h3.achievements__subheading Series
        p.achievements__text Our multi-class series are designed to help you achieve your fitness and wellness goals.
      li.achievements__item
        h3.achievements__subheading Pose Directory
        p.achievements__text Get step-by-step instructions on poses and sequences in our extensive video pose directory.
