.modal {
  display: none;

  &--active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    overflow-y: auto;
    display: block;
    background-color: @color-black-lightest;
  }

  &__window {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    padding: 40px;
    border: 1px solid @color-coral;
    border-radius: 10px;
    background-color: @color-white;

    @media (max-width: 768px) {
      top: 0;
      bottom: 0;
      max-width: none;
      border: none;
      border-radius: 0;
    }
  }

  &__header {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid @color-gray-dark;
  }

  &__tab {
    flex: 0 0 50%;
    padding-bottom: 10px;
    font-weight: 500;
    color: @color-gray-dark;
    transition: color 0.3s linear;

    &:hover {
      color: @color-black-light;
    }

    &--active {
      border-bottom: 2px solid @color-blue;
      color: @color-black;

      &:hover {
        color: @color-black;
      }
    }
  }

  &__sign-in,
  &__sign-up {
    display: none;

    &--active {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__form {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
  }

  &__wrapper {
    position: relative;
    margin-bottom: 20px;
  }

  &__button {
    min-height: 65px;
    margin-bottom: 20px;

    @media (max-width: 480px) {
      font-size: @font-size / 1.3;
    }
  }

  &__link {
    @media (max-width: 480px) {
      font-size: @font-size / 1.3;
    }
  }
}
