article.news
  h2.news__heading The Healing Power of Trauma-Informed Yoga Classes.
  p.news__author By Brittany Risherjan
  p.news__text Celebrating five years of service, the nonprofit Exhale to Inhale brings free, trauma-informed yoga classes to rape crisis centers and domestic violence shelters in Jakarta.
  a.news__link.button--link(href="#" data-hover="Read more") Read More &gt;
