<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <link type="image/x-icon" href="./favicon.ico" rel="icon">
  <link type="image/png" href="./favicon-16x16.png" rel="icon" sizes="16x16">
  <link type="image/png" href="./favicon-32x32.png" rel="icon" sizes="32x32">
  <link type="image/png" href="./favicon-48x48.png" rel="icon" sizes="48x48">
  <link href="./styles/main.css" rel="stylesheet">
  <title>BerYoga</title>
</head>
<body class="main-page">
  @include("./../blocks/header/header.html")
<main>
  <h1 class="visually-hidden">Yoga BerYoga</h1>
  @include("./../blocks/advantages/advantages.html")
  @include("./../blocks/achievements/achievements.html")
  @include("./../blocks/news/news.html")
  @include("./../blocks/teach/teach.html")
  @include("./../blocks/prices/prices.html")
</main>
  @include("./../blocks/footer/footer.html")
  @include("./../blocks/modal/modal.html")
<script src="./scripts/main.js"></script>
</body>
</html>
