<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(content="ie=edge", http-equiv="X-UA-Compatible")
  link(href="./images/favicons/favicon.ico", rel="shortcut icon")
  link(type="image/png" href="./images/favicons/favicon-16x16.png" rel="icon" sizes="16x16")
  link(type="image/png" href="./images/favicons/favicon-32x32.png" rel="icon" sizes="32x32")
  link(href="./styles/main.css", rel="stylesheet")
  title BerYoga
body
  include ./../blocks/header/header.pug
  include ./../blocks/preview/preview.pug
  include ./../blocks/advantages/advantages.pug
  main
  include ./../blocks/footer/footer.pug
  script(src="./scripts/main.js")
  script svg4everybody();
