.main-page {
  font-weight: 300;
  font-size: 18px;
  line-height: 2.2;
  font-family: @font-family;
  color: @color-black-light;
  background: url("./../images/header__bg.png") center top / 100% auto no-repeat, url("./../images/footer__bg.png") center bottom / 100% 25% no-repeat;

  @media (max-width: 1440px) {
    background-position: 60% top, center bottom;
    background-size: auto, auto 25%;
  }

  @media (max-width: 1024px) {
    background-size: auto, auto 30%;
  }

  @media (max-width: 768px) {
    background-position: 35% -5%, center bottom;
  }

  @media (max-width: 480px) {
    background-size: auto, auto 35%;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-right: auto;
  margin-bottom: 200px;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;

  @media (max-width: 1440px) {
    margin-bottom: 150px;
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (max-width: 1024px) {
    max-width: 1024px;
    margin-bottom: 100px;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (max-width: 768px) {
    max-width: 768px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (max-width: 480px) {
    max-width: 480px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.heading {
  margin-bottom: 65px;
  font-weight: 700;
  font-size: @font-size-heading;
  line-height: 1.2;
  color: @color-black;

  @media (max-width: 1024px) {
    margin-bottom: 45px;
  }

  @media (max-width: 768px) {
    font-size: @font-size-heading / 1.1;
  }

  @media (max-width: 480px) {
    font-size: @font-size-heading / 2;
  }
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: @font-size-subheading;
  line-height: 1.2;
  color: @color-black;

  @media (max-width: 1024px) {
    margin-bottom: 25px;
  }

  @media (max-width: 480px) {
    font-size: @font-size-subheading / 1.2;
  }
}

.text {
  margin-bottom: 50px;

  @media (max-width: 1024px) {
    margin-bottom: 40px;
  }

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }

  @media (max-width: 480px) {
    font-size: @font-size / 1.1;
    line-height: 2;
  }
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}
