body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  font-family: @font-family;
  color: @color-text;

  background: url("./../images/header__bg.png") center top no-repeat, url("./../images/bg--footer.png") center bottom / 100% 27% no-repeat;

  @media (max-width: 1440px) {
    background-position: 60% top, center bottom;
    background-size: auto, auto 26%;
  }

  @media (max-width: 1180px) {
    background-size: auto, auto 30%;
  }

  @media (max-width: 1024px) {
    background-position: 70% top, center bottom;
    background-size: auto, auto 33%;
  }

  @media (max-width: 768px) {
    background-position: 30% -7%, center bottom;
    background-size: auto, auto 40%;
  }

  @media (max-width: 480px) {
    background-position: 30% -23%, center bottom;
    background-size: auto, auto 45%;
  }
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}
