.main-page {
  position: relative;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  font-family: @font-family;
  color: @color-black-light;
  background: url("./../images/header__bg.png") center top / 100% auto no-repeat, url("./../images/bg--footer.png") center bottom / 100% 27% no-repeat;

  @media (max-width: 1440px) {
    background-position: 60% top, center bottom;
    background-size: auto, auto 26%;
  }

  @media (max-width: 1180px) {
    background-size: auto, auto 30%;
  }

  @media (max-width: 1024px) {
    background-position: 70% top, center bottom;
    background-size: auto, auto 33%;
  }

  @media (max-width: 768px) {
    background-position: 30% -7%, center bottom;
    background-size: auto, auto 40%;
  }

  @media (max-width: 480px) {
    background-size: auto, auto 45%;
  }

  &::before {
    position: absolute;
    top: 2115px;
    left: 0;
    z-index: -1;
    width: 220px;
    height: 1950px;
    background: url("./../images/achievements--left.png") left top no-repeat, url("./../images/articles--left.png") left bottom no-repeat;
    content: "";

    @media (max-width: 1440px) {
      background: url("./../images/achievements--left.png") left top no-repeat;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    top: 1795px;
    right: 0;
    z-index: -1;
    width: 200px;
    height: 2470px;
    background: url("./../images/achievements--right.png") right top no-repeat, url("./../images/articles--right--bottom.png") right bottom no-repeat, url("./../images/articles--right--top.png") right bottom 100px no-repeat;
    content: "";

    @media (max-width: 1440px) {
      background: url("./../images/achievements--right.png") right top no-repeat;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &--active {
    overflow-y: hidden;
  }

}

.container {
  max-width: 1280px;
  width: 100%;
  margin-right: auto;
  margin-bottom: 200px;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;

  @media (max-width: 1440px) {
    margin-bottom: 150px;
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (max-width: 1024px) {
    max-width: 1024px;
    margin-bottom: 100px;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (max-width: 768px) {
    max-width: 768px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (max-width: 480px) {
    max-width: 480px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}
