h1.visually-hidden Yoga BerYoga
article.preview
  h2.preview__title Beautiful videos. Become your best self with BerYoga.
  p.preview__text For me, BerYoga is more than just a sport – it is lifestyle, a state mind, a philosophy. Now I decided to open BerYoga so that I can share my love and joy of bikram yoga. It is my hope that you too can discover all the positive impacts of bikram yoga and make bikram yoga as a part of your life.
  p.preview__wrapper
    a.preview__link.button(href="#") Service
    a.preview__link.js-preview__link.button(href="#") Sign Up
