.preview {

  @media (max-width: 768px) {
    text-align: center;
  }

  &__heading,
  &__text {
    max-width: 500px;

    @media (max-width: 768px) {
      max-width: none;
    }
  }

  &__wrapper {
    display: flex;

    @media (max-width: 768px) {
      justify-content: center;
    }

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }

  &__link {
    flex-basis: 200px;
    min-height: 60px;

    @media (max-width: 480px) {
      flex-basis: auto;
      font-size: @font-size / 1.1;
    }

    &:not(:last-child) {
      margin-right: 20px;

      @media (max-width: 480px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}
