<nav class="main-header__navigation navigation">
  <ol class="navigation__list-site">
    <li class="navigation__item-site">
      <a class="navigation__link-site" href="#advantages">Advantages</a>
    </li>
    <li class="navigation__item-site">
      <a class="navigation__link-site" href="#achievements">Achievements</a>
    </li>
    <li class="navigation__item-site">
      <a class="navigation__link-site" href="#prices">Prices</a>
    </li>
    <li class="navigation__item-site">
      <a class="navigation__link-site" href="#contacts">Contacts</a>
    </li>
  </ol>
  <ul class="navigation__list-user">
    <li class="navigation__item-user">
      <button class="navigation__link-user button button--coral js-buttonMenuLogin" type="button">Sign In</button>
    </li>
  </ul>
</nav>
