section.advantages
  h2.advantages__heading Why Choose BerYoga?
  p.advantages__text Access hundreds of online yoga classes shot in natural studios around the world. Unlimited access for $150/Years.
  ul.advantages__list
    li.advantages__item.advantages__item--left
      h3.advantages__subheading Lifetime Updates
      p.advantages__item-text Free lifetime updates for our latest collection.
    li.advantages__item.advantages__item--center
      h3.advantages__subheading Anywhere Videos
      p.advantages__item-text Access world-class online yoga videos can be seen on the application &amp; web.
    li.advantages__item.advantages__item--right
      h3.advantages__subheading Access Unlimited
      p.advantages__item-text Find lots of yoga video tutorials, from all over the world.
