.svg dontshow {
  background: url("./../images/sprites/sprite.stack.svg#dontshow") center / 24px 22px no-repeat;
}

.svg reset {
  background: url("./../images/sprites/sprite.stack.svg#reset") center / 52px 52px no-repeat;
}

.svg show {
  background: url("./../images/sprites/sprite.stack.svg#show") center / 24px 15px no-repeat;
}

