// Цвета
@color-text: fade(#000000, 65%);
@color-heading: #3b3838;
@color-link: fade(#1c2056, 50%);
@color-hover: #ff6a6d;
@color-shadow: fade(#ff0004, 19%);
@color-light: #fbfcfc;
@color-lightness: fade(#fbfcfc, 95%);
@color-accent: #ff6a6d;
@color-secondary: #3cbef1;

// Типографика
@font-weight: 300;
@font-size: 18px;
@font-size-heading: 50px;
@font-size-subheading: 24px;
@line-height: 2.2;
@font-family: "Fivo Sans";
@font-family-heading: "Fivo Sans";
