// Цвета

@color-white-lightest: rgba(255, 255, 255, 0.5);
@color-white: #ffffff;
@color-gray-light: #f8f9fa;
@color-gray: #a6a6a6;
@color-gray-darker: #3b3838;
@color-coral: #ff6a6d;
@color-coral-dark: rgba(255, 0, 4, 0.2);
@color-blue-light: rgba(95, 206, 244, 0.3);
@color-blue: #3cbef1;
@color-black: rgba(0, 0, 0, 0.65);

// Типографика

@font-weight: 300;
@font-size: 18px;
@font-size-heading: 50px;
@font-size-subheading: 24px;
@line-height: 2.2;
@font-family: "Fivo Sans", sans-serif;
