// Цвета
@color-coral: #ff6a6d;
@color-coral-dark: fade(#ff0004, 19%);

@color-blue-light: rgba(95, 206, 244, 0.3);
@color-blue: #3cbef1;

@color-gray: #a6a6a6;
@color-gray-dark: fade(#000000, 65%);
@color-gray-darker: #3b3838;

@color-white-lightest: fade(#ffffff, 95%);
@color-white-lighter: fade(#ffffff, 50%);
@color-white: #ffffff;

// Типографика
@font-weight: 300;
@font-size: 18px;
@font-size-heading: 50px;
@font-size-subheading: 24px;
@line-height: 2.2;
@font-family: "Fivo Sans", sans-serif;
@font-family-heading: "Fivo Sans", sans-serif;
