.main-footer {
  .container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1280px;
  padding: 100px 120px 50px;
  border-radius: 175px 175px 0 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.main-footer__contacts,
.main-footer__about,
.main-footer__programs,
.main-footer__support {
  max-width: 210px;
  margin-bottom: 100px;
}

.main-footer__copyright {
  width: 100%;
}

.main-footer__heading {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 18px;
  color: @color-heading;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.main-footer__text {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-family: @font-family;
  font-size: 16px;
  color: @color-text;
}

.main-footer__link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: @color-text;
  transition: color 0.3s ease;
}

.main-footer__link:hover {
  color: @color-hover;
}

.main-footer__note {
  font-weight: 400;
  color: @color-text;
  letter-spacing: 1.8px;
  text-align: center;
}
