.teach {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: url("./../images/teach__bg.png") left center / 590px auto no-repeat;

  @media (max-width: 1440px) {
    background-position: left bottom;
    background-size: 530px auto;
  }

  @media (max-width: 1180px) {
    background-position: left bottom 50px;
    background-size: 430px auto;
  }

  @media (max-width: 1024px) {
    align-items: center;
    background: none;
  }

  &__wrapper {
    position: relative;

    &::after {
      position: absolute;
      top: -160px;
      right: 0;
      z-index: -1;
      width: 200px;
      height: 710px;
      background: url("./../images/teach__bg--right-bottom.png") bottom right -10px no-repeat, url("./../images/teach__bg--right-top.png") top right no-repeat;
      content: "";

      @media (max-width: 1440px) {
        display: none;
      }
    }
  }

  &__heading {
    max-width: 670px;

    @media (max-width: 1024px) {
      text-align: center;
    }

    @media (max-width: 768px) {
      max-width: none;
    }
  }

  &__text {
    max-width: 555px;
    text-indent: 55px;

    @media (max-width: 1024px) {
      text-align: center;
      text-indent: 0;
    }

    @media (max-width: 768px) {
      max-width: none;
    }
  }

  &__link {
    align-self: flex-end;
    font-style: italic;

    @media (max-width: 1024px) {
      align-self: center;
    }

    @media (max-width: 768px) {
      align-self: flex-end;
    }

    @media (max-width: 480px) {
      font-size: @font-size / 1.3;
    }
  }
}
