.button {
  position: relative;

  display: inline-block;

  color: @color-accent;
  text-align: center;

  border: 0.1em solid @color-accent;
  border-radius: 2em;
  box-shadow: 0 0.22em @color-shadow;

  transition: color 0.3s linear, background-color 0.3s linear;

  &:hover {
    color: @color-light;

    background-color: @color-hover;
    box-shadow: 0 0.22em @color-shadow, -0.28em 0.33em 2.72em 0.28em @color-shadow;
  }

  &:active {
    top: 0.17em;

    box-shadow: 0 0.06em @color-shadow, -0.28em 0.33em 2.72em 0.28em @color-shadow;
  }

  &--link {
    display: inline-block;

    font-style: italic;
    font-weight: 400;
    color: @color-secondary;

    transition: color 0.3s linear;

    &::before {
      position: absolute;

      color: @color-hover;
      text-shadow: 0 0 1px rgba(255,255,255,0.3);

      opacity: 0;

      transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
      transition: transform 0.2s linear, opacity 0.2s linear;

      content: attr(data-hover);
      pointer-events: none;
    }

    &:hover {
      color: @color-light;

      &:hover::before {
        opacity: 1;

        transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
      }
    }
  }
}
