.button {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: @color-coral;
  border: 1px solid @color-coral;
  border-radius: 40px;
  box-shadow: 0 4px @color-coral-dark;
  transition: color 0.2s linear, background-color 0.2s linear;
  cursor: pointer;

  &:hover {
    color: @color-white;
    background-color: @color-coral;
    box-shadow: 0 4px @color-coral-dark;
  }

  &:active {
    top: 3px;
    box-shadow: 0 1px @color-coral-dark;
  }

  &--blue {
    border: none;
    color: @color-white;
    background-color: @color-blue;
    box-shadow: 0 20px 20px 0.5px @color-blue-light;

    &:hover {
      background-color: @color-coral;
      background-image: none;
      box-shadow: 0 20px 20px 0.5px @color-coral-dark;
    }
  }

  &--link {
    display: inline-block;
    font-style: italic;
    font-weight: 400;
    color: @color-blue;
    transition: color 0.3s linear;

    &::before {
      position: absolute;
      opacity: 0;
      color: @color-coral;
      transition: transform 0.2s linear, opacity 0.2s linear;
      transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
      content: attr(data-hover);
      pointer-events: none;
    }

    &:hover {
      color: @color-white;

      &:hover::before {
        opacity: 1;
        transform: scale(1) translateX(0) translateY(0) rotate(0);
      }
    }
  }
}
